mosaicweb/mosaicapp/templates/card_form copy.html
mosaicweb/mosaicapp/__pycache__/views.cpython-311.pyc
mosaicweb/mosaicapp/__pycache__/urls.cpython-311.pyc
mosaicweb/mosaicweb/__pycache__/loguru_config.cpython-311.pyc
mosaicweb/mosaicweb/__pycache__/settings.cpython-311.pyc
mosaicweb/debug.log
mosaicweb/api/__pycache__/views.cpython-311.pyc
