{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:8000/static/MultiSelect.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .card {
            margin-bottom: 20px;
        }

        .tags {
            font-style: italic;
            color: #6c757d;
        }

        /* Define different background colors for cards */
        .card-color-1 {
            background-color: #ffe5e5;
        }

        .card-color-2 {
            background-color: #e5e5ff;
        }

        .card-color-3 {
            background-color: #e5ffe5;
        }

        .card-color-4 {
            background-color: #ffffcc;
        }

        .card-color-5 {
            background-color: #ffe5ff;
        }
    </style>
</head>

<body>

    <div class="container">
        <!-- Filter Section -->
        <div class="mb-4">            
            <select id="tagFilter" class="form-control">
                {% for tag in tags %}
                <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>

            <div class="mt-2">
                <button id="applyFilter" class="btn btn-primary">Apply Filter</button>
                <button id="resetFilter" class="btn btn-secondary">Reset Filter</button>
            </div>
        </div>

        <!-- Card List -->
        <div id="cardList">
            {% if cards %}
            <div class="row">
                {% for card in cards %}
                <div class="col-md-4">
                    <div
                        class="card {% cycle 'card-color-1' 'card-color-2' 'card-color-3' 'card-color-4' 'card-color-5' %}">
                        <div class="card-body">
                            <h5 class="card-title">{{ card.title }}</h5>
                            <p class="card-text">{{ card.description }}</p>
                            <p class="tags">Tags: {{ card.tags }}</p>
                            <!-- Buttons -->
                            <a href="{{ card.documentation_url }}" class="btn btn-secondary">Docs</a>
                            <a href="/card-form?card_name={{ card.title }}" class="btn btn-primary">Select</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No cards available.</p>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function () {

            // Apply filter button click handler
            $('#applyFilter').click(function () {
                var query = "";
                mySelect.data.forEach(function (element) {
                    // console.log(element);
                    // console.log(element['value']);
                    if (element['selected']){
                        query = query + "tags=" + encodeURIComponent(element['value']) + '&';
                    }
                });
                // console.log(query);
                window.location.href = '?' + query;
            });

            // Reset filter button click handler
            $('#resetFilter').click(function () {
                window.location.href = window.location.pathname;
            });
        });
    </script>
    <script src="http://localhost:8000/static/MultiSelect.js"></script>
    <script>
        var mySelect = new MultiSelect(document.getElementById('tagFilter'), {
            placeholder: 'Select Tags',
            search: true,  // Enable the search box
            selectAll: true,  // Add a select all option
            listAll: true,
        });
    </script>
</body>

</html>